@page "/"
@layout LandingPageLayout

<PageTitle>Ai Chef - Craft your next meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://jackson-hollidays-portfolio.netlify.app/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingpage">
            <div class="text-center">
                <img src="images/AiChefLogoLight.png" height="300" />
            </div>
            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-success btn-lg">Get Started</a>
            </div>
        </main>
        <br />
        <footer class="text-center p-2">
            <div class="row">
                <div class="col-12">
                    &copy; Andrew Holliday 2023
                </div>
                <div class="col-12 justify-content-center">
                    <a href="https://www.linkedin.com/in/andrew-holliday-08454a1ab/" target="_blank"><i class="bi bi-linkedin p-2" style="font-size: 50px;"></i></a>
                    <a href="https://github.com/JaxHolliday" class="socialicons"><i class="bi bi-github p-2" style="font-size: 50px;"></i></a>
                    @*<a href="#" class="socialicons"><i class="bi bi-youtube p-2"></i></a>
                    <a href="#" class="socialicons"><i class="bi bi-instagram p-2 "></i></a>
                    *@
                </div>
            </div>
        </footer>
    </div>
</div>